# local env
.env
.env.local

# keys and certs
*.pem
*.key
*.pub
ormezo-parking
ormezo-parking.pub

# node
node_modules/
npm-debug.log
.env/
.env.local/
.env
# local env
.env
.env.local

# keys and certs
*.pem
*.key
*.pub
ormezo-parking
ormezo-parking.pub

# node
node_modules/
npm-debug.log
